<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookLibrary</title>
    <link rel="stylesheet" href="/styles/addbook.css">
</head>
<body>
    <div class="container">
        <form action="/addbook" method="post">
            <h1>ADD BOOK</h1>
            <input type="text" name="name" placeholder="Enter title of the book">
            <input type="text" name="description" placeholder="Enter description of the book">
            <input type="text" name="author" placeholder="Enter the author of the book">
            <button type="submit">Add Book</button>
        </form>
    </div>
</body>
</html>