<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookLibrary</title>
    <link rel="stylesheet" href="/styles/loginpage.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form class="input-login" action="/login" method="post">
            <input class="inputfield" name="emailfield" type="text" placeholder="Enter your email">
            <input class="inputfield" name="passwordfield" type="password" placeholder="Enter your password">
            <input class="submitlogin" type="submit" name="submit" id="" placeholder="Login">
        </form>
        <form class="signup-form" action="/signup" method="get">
            <p>Are you new?</p>
            <button class="btnsignup" type="submit" >Signup</button>
        </form>
    </div>
</body>
</html>