@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    font-family: 'Poppins', san-serif;
}

.container{
    padding: 20px 40px;
    border-radius: 10px;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.inputfield, .submitlogin{
    padding: 10px 5px;
    border-radius: 3px;
    border: none;
    width: 300px;
}

.submitlogin:hover{
    cursor: pointer;
    background-color: white;
}

.signup-form{
    display: flex;
    gap: 10px;
    color: beige;
}

.btnsignup{
    border: none;
    background-color: cornflowerblue;
    text-decoration: underline;
    color: bisque;
    cursor: pointer;
}

.btnsignup:hover{
   color: beige;
}

